<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <link rel="stylesheet" th:href="@{/static/css/index_work.css}">
</head>
<body>
    <table>
        <tr th:colspan="2">用户信息</tr>
        <tr>
            <th>ID</th>
            <th th:text="${user.userId}"></th>
        </tr>
        <tr>
            <th>邮箱</th>
            <th th:text="${user.userEmail}"></th>
        </tr>
        <tr>
            <th>姓名</th>
            <th th:text="${user.userInformation.userName}"></th>
        </tr>
        <tr>
            <th>年龄</th>
            <th th:text="${user.userInformation.userAge}"></th>
        </tr>
        <tr>
            <th>性别</th>
            <th th:text="${user.userInformation.userGender}"></th>
        </tr>
        <tr>
            <th>家庭住址</th>
            <th th:text="${user.userInformation.userHome}"></th>
        </tr>
        <tr>
            <th>毕业院校</th>
            <th th:text="${user.userInformation.userSchool}"></th>
        </tr>
        <tr>
            <th>联系方式</th>
            <th th:text="${user.userInformation.userPhone}"></th>
        </tr>
        <tr>
            <th>自我介绍</th>
            <th th:text="${user.userInformation.userIntroduction}"></th>
        </tr>
        <tr>
            <th>出生日期</th>
            <th th:text="${user.userInformation.userBirthday}"></th>
        </tr>
    </table>
</body>
</html>